<section>
    <h2><%= link_to blog.title, [@user, blog] %></h2>
    <p>Posted by <%= link_to blog.user.username, blog.user %> at <%= blog.created_at %></p>
    <p>Category: <%= blog.topic.title %></p>
    <p><%= link_to blog.status, [:toggle_status, @user, blog] %></p>
    <p><%= blog.body %></p>
    <p><%= link_to 'Show More', [@user, blog] %></p>
    <% if current_user == blog.user %>
        <p><%= link_to 'Edit Post', [:edit, @user, blog] %></p>
        <p><%= link_to 'Delete Post', [@user, blog], method: :delete, data: { confirm: 'Are you sure you want to delete this blog post?' } %></p>
    <% end %>
  </section>