<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<%= will_paginate %>

<% @blogs.each do |blog| %>
  <%= render blog %>
<% end %>

<%= will_paginate %>

<br>

<%= link_to 'New Post', new_blog_path %>
