<h1><%= @user.name %></h1>
<em><%= @user.username %></em>
<section class="stats">
    <%= render 'shared/stats' %>
</section>
<% if current_user.is_a?(User) && current_user != @user %>
    <%= render partial: 'follow_form' %>
<% end %>
<section>

    <%= will_paginate @user_posts %>
    
    <% @user_posts.each do |blog|%>
        <h2><%= link_to blog.title, url_for([@user, blog]) %></h2>
        <p>Posted at <%= blog.created_at %></p>
        <p>Category: <%= blog.topic.title %></p>
        <p><%= blog.body %></p>
        <p><%= link_to 'Show More', url_for([@user, blog]) %></p>
    <% end %>

    <%= will_paginate @user_posts %>

</section>

<%= link_to 'Back', root_path %>