<h1><%= @user.name %></h1>
<em><%= @user.username %></em>
<section class="stats">
    <%= render 'shared/stats' %>
</section>
<% if current_user%>
    <%= render partial: 'follow_form' %>
<% end %>
<%= link_to 'Back', users_path %>