<%= image_tag @project.main_image %>
<h1><%= @project.title %></h1>
<p><em><%= @project.subtitle %></em></p>
<p>Updated by <%= link_to @project.user.username, @project.user %> at <%= @project.updated_at %></p>
<p><%= @project.description %></p>
<p><%= link_to 'View Live', @project.view_link %></p>
<p><%= link_to 'View Source', @project.source_link %></p>
<p><%= link_to "Edit Project", [:edit, @user, @project] %></p>
<p><%= link_to 'Delete Project', [@user, @project], method: :delete, data: { confirm: 'Are you sure you want to delete this project?' } %></p>
<p><%= link_to 'Back to Projects', user_projects_path %></p>